<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Minim</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <style>
        body, html {
            font-family: monospace;
        }

        .logo {
            padding-left: 0;
        }
    </style>
</head>

<body>
<section class="hero is-fullheight">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <a href="{{ url_for('main.index') }}" class="logo navbar-item">
                    Minim
                </a>
                {% if no_gitalb_token %}
                <a href="{{ url_for('settings.index') }}" class="navbar-item has-text-danger">
                    * please setup the gitlab auth token
                </a>
                {% endif %}
                <div id="navbarMenuHeroA" class="navbar-menu  is-primary">
                    <div class="navbar-end">

                        <a href="{{ url_for('settings.index') }}" class="navbar-item">
                            Settings
                        </a>
                        {% if not session.user %}
                        <a href="{{ url_for('auth.login') }}" class="navbar-item">
                            Log in
                        </a>
                        {% else %}
                        <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                            Log out
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class="container">
        <footer>
            <div class="p-1">
                A 380SQ Product
            </div>
        </footer>
    </div>
</section>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    let socket = io();
    window.HUB = {
        cbs: {},
        on(action, cb) {
            if (!HUB.cbs[action]) {
                HUB.cbs[action] = [];
            }
            HUB.cbs[action].push(cb)

        },
        fire(action, payload) {
            if (HUB.cbs[action]) {
                HUB.cbs[action].forEach(fn => {
                    fn(payload);
                })
            }
        }
    };
    socket.on('connect', function () {
        console.log("socket is connected")
    });
    socket.on('message', function (data) {
        window.HUB.fire(data.event, data.payload);
    });
</script>
</body>

</html>