{% extends "base.html" %}

{% block content %}
<style>
    #steps_container > div, #env_container > div {
        margin: 5px 0;
    }
</style>
<form action="{{ url_for('projects.run_pipeline', id=project.id) }}" method="post">
    <h1 class="is-size-2">Project : {{project.name}} <span id="running_status" class="tag is-hidden is-danger is-small">Running {% include 'includes/spinner.svg' %}</span>
    </h1>
    <button type="submit" id="run_pipeline" class="is-pulled-right button is-danger">Run</button>
</form>
<form action="{{ url_for('projects.pipeline', id=project.id) }}" method="post">
    <input type="hidden" id="steps_types_description" value="{{typesDescription}}">
    <input type="hidden" id="steps_types" value="{{types}}">
    <input type="hidden" id="steps_values" name="steps" value="{{project.pipeline_steps}}">
    <input type="hidden" id="envs_values" name="envs" value="{{project.pipeline_envs}}">
    <label for="branch" class="is-size-5">Branch</label>
    {% if error %}
    <span class="is-danger">{{error}}</span>
    {% endif %}
    <select id="branch" name="branch" class="select">
        {% for branch in branches %}
        <option value="{{branch.name}}">
            {{branch.name}}
        </option>
        {% endfor %}
    </select>
    <h4 class="is-size-5">Steps
        <small class="is-size-7"> Steps to be build</small>
    </h4>
    <div id="steps_container">

    </div>

    <button id="add_step" class="button primary  is-small is-primary">+ Add step</button>
    <hr/>

    <h4 class="is-size-5">Env
        <small class="is-size-7"> Env variables to be passed to steps</small>
    </h4>
    <div id="env_container">

    </div>

    <button id="add_env" class="button primary  is-small is-primary">+ Add Env</button>
    <hr/>
    <button id="form_submit" type="submit" class="button is-primary">Save</button>
</form>
<script>
    // TOOLS
    // get types of steps and helpers (placeholders )
    const typesDescription = JSON.parse(document.getElementById('steps_types_description').value);

    function createFieldElement(tag, className, fieldClassName) {
        const field = document.createElement('div');
        if (fieldClassName) {
            field.classList.add(fieldClassName)
        } else {
            field.classList.add('field');
        }
        let control = document.createElement('p');
        control.classList.add('control');
        field.appendChild(control);
        let element = document.createElement(tag);
        control.appendChild(element);
        element.classList.add(tag);
        if (className) {
            element.classList.add(className);
        }
        return {
            field: field,
            element: element
        }
    }

    function createFieldBodyElement(isHorizontal) {
        const fieldBody = document.createElement('div');
        fieldBody.classList.add('field-body');
        if (isHorizontal) {
            fieldBody.classList.add("is-horizontal");
        }
        return fieldBody;
    }

    function getJobDescription(select) {
        let selected = select.options[select.selectedIndex].value;
        return typesDescription[selected] || '';
    }

</script>
<script>
    // HANDLE STEPS
    let actions = JSON.parse(document.getElementById('steps_types').value);
    const STEP_KIND_CLASS = "step-key";
    const STEP_KIND_SUFFIX = "step_value_";

    function createPipelineStep(ele /* if already exists  */) {
        let row = createFieldBodyElement(true);
        let selectField = createFieldElement('select', STEP_KIND_CLASS);
        let select = selectField.element;
        let textField = createFieldElement('textarea');
        let deleteField = createFieldElement('button', NaN, 'is-pulled-right');
        let text = textField.element;
        let container = document.getElementById('steps_container');
        let selects = container.querySelectorAll('.' + STEP_KIND_CLASS);
        let optionEl;
        actions.forEach(e => {
            optionEl = document.createElement('option');
            optionEl.setAttribute('value', e);
            optionEl.innerText = e;
            if (ele) {
                if ((ele.type) === e) {
                    optionEl.setAttribute('selected', 'selected');
                }
            }
            select.appendChild(optionEl);
        });
        let id;
        if (ele) {
            id = STEP_KIND_SUFFIX + ele.index;
            text.value = ele.value;

        } else {
            id = STEP_KIND_SUFFIX + selects.length;
        }
        select.setAttribute('data-value-id', id);
        text.setAttribute('id', id);
        row.appendChild(selectField.field);
        row.appendChild(textField.field);
        row.appendChild(deleteField.field);
        container.appendChild(row);
        select.addEventListener('change', function (event) {
            text.placeholder = getJobDescription(event.currentTarget);
        });
        if (!ele) {
            text.placeholder = getJobDescription(select);
        }
        deleteField.element.innerText = "X";
        deleteField.element.addEventListener('click', function (event) {
            container.removeChild(row);
        })
    }

    function getSteps() {
        let steps = [];
        let selects = document.querySelectorAll('.' + STEP_KIND_CLASS);
        selects.forEach((e, index) => {
            steps.push({
                index: index,
                type: e.value,
                value: document.getElementById(e.dataset.valueId).value
            });

        });
        return steps;
    }

    let button = document.getElementById('add_step');
    button.addEventListener('click', function (event) {
        event.preventDefault();
        createPipelineStep();
    })

</script>
<script>
    // HANDLE ENV KEYS
    const ENV_KEY_CLASS = "env-key";
    const ENV_VALUE_SUFFIX = "env_value_";

    function createEnvRow(ele /* if ele already exists */) {
        let elements = document.querySelectorAll('.' + ENV_KEY_CLASS);
        let container = document.getElementById('env_container');
        let row = createFieldBodyElement(true);
        let fieldName = createFieldElement('input', ENV_KEY_CLASS);
        let fieldValue = createFieldElement('input');
        let deleteField = createFieldElement('button', NaN, 'is-pulled-right');
        let inputName = fieldName.element;
        let inputValue = fieldValue.element;
        let id;
        if (ele) {
            id = ENV_VALUE_SUFFIX + ele.index;
            inputName.value = ele.key;
            inputValue.value = ele.value;
        } else {
            id = ENV_VALUE_SUFFIX + elements.length;
        }
        inputName.setAttribute('data-value-id', id);
        inputValue.setAttribute('id', id);
        row.appendChild(fieldName.field);
        row.appendChild(fieldValue.field);
        row.appendChild(deleteField.field);
        container.appendChild(row);
        deleteField.element.innerText = "X";
        deleteField.element.addEventListener('click', function (event) {
            container.removeChild(row);
        })
    }

    function getEnvs() {
        let envs = [];
        let inputs = document.querySelectorAll('.' + ENV_KEY_CLASS);
        inputs.forEach((e, index) => {
            if (e.value) {
                envs.push({
                    index: index,
                    key: e.value,
                    value: document.getElementById(e.dataset.valueId).value
                });
            }

        });
        return envs;
    }

    let buttonEnv = document.getElementById('add_env');
    buttonEnv.addEventListener('click', function () {
        event.preventDefault();
        createEnvRow();
    })

</script>

<script>
    // Init function
    let stepsInput = document.getElementById('steps_values');
    let envsInputs = document.getElementById('envs_values');
    // init steps
    try {
        let stepsValue = stepsInput.value;
        if (stepsValue && stepsValue !== "None") {
            let steps = JSON.parse(stepsValue);
            steps.forEach(e => {
                createPipelineStep(e)
            })
        }
    } catch (e) {

        console.error('parsing steps error')
    }
    try {
        // init envs
        let envsValue = envsInputs.value;
        if (envsValue && envsValue !== "None") {
            let envs = JSON.parse(envsValue);
            envs.forEach(e => {
                createEnvRow(e)
            })
        }
    } catch (e) {
        console.error('parsing envs error')
    }
    // attach submit form
    let buttonSubmit = document.getElementById('form_submit');
    buttonSubmit.addEventListener('click', function () {
        envsInputs.value = JSON.stringify(getEnvs());
        stepsInput.value = JSON.stringify(getSteps());
    })

</script>
<script>
    // listen to socket
    //
    const status = document.getElementById('running_status');
    const runSubmit = document.getElementById('run_pipeline');
    const isHidden = 'is-hidden';
    window.addEventListener('load', (event) => {
        console.log("DOMContentLoaded")
        window.HUB.on('status', function (payload) {
            console.log(payload);
            if (payload.is_running) {
                status.classList.remove(isHidden);
                runSubmit.setAttribute('disabled', 'disabled')
            } else {
                status.classList.add(isHidden);
                runSubmit.removeAttribute('disabled')
            }
        })
    });
</script>

{% endblock %}