{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Setting</h3>
    <div class="box">
        <form method="POST" action="/settings">
            <div class="field">
                <div class="control">
                    <input class="input is-large" value="" type="text" name="gitlab_personal_token"
                           placeholder="gitlab personal Token"
                           autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" value="" type="text" name="gitlab_webhook_token"
                           placeholder="gitlab webhook Token"
                           autofocus="">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Save</button>
        </form>
    </div>
</div>
{% endblock %}